extends ../layout

block content
    h3 Books
    table
        thead
            tr
                th Book Title
                th Author
                th Publisher
                th genre
                th pages
                th images
                th description
                th
        tbody
            each book in books
                tr
                    td= book.title
                    td= book.author_name
                    td= book.publisher
                    td= book.genre
                    td= book.pages
                    td= book.image
                    td= book.description